## =========================
## Polygen Compiled Grammars
## =========================
*.grm.o

## ================
## Windows Binaries
## ================
*.exe

## ==============================
## Third Party Tools Config Files
## ==============================
notepad_session
notepad_workspace
Session.vim
*.code-workspace

# ------------------------------------------------------------------------------
#                             OCaml Files Exclusion
# ------------------------------------------------------------------------------
# Created by https://www.gitignore.io/api/ocaml

# dune working directory
_build/

# opam local switch
_opam/
