# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc    diff=astextplain
*.DOC    diff=astextplain
*.docx   diff=astextplain
*.DOCX   diff=astextplain
*.dot    diff=astextplain
*.DOT    diff=astextplain
*.pdf    diff=astextplain
*.PDF    diff=astextplain
*.rtf    diff=astextplain
*.RTF    diff=astextplain

# ------------------------------------------------------------------------------
#                    Text Files (EOL Normalization Settings)                    
# ------------------------------------------------------------------------------

## ================
## Polygen Grammars
## ================
*.grm          text

## ==========================
## OCaml source/project files
## ==========================
*.annot        text
*.ml           text
*.ml.template  text
*.mli          text
*.mll          text
*.mly          text
*.output       text
.depend        text

## ================
## Shell scripts
## ================
*.bat          text eol=crlf
*.com          text eol=crlf
*.sh           text eol=lf

## ===================
## Documentation files
## ===================
*md            text
Changes        text
Credits        text
License        text
README*        text
VERSION        text

## ================
## Git settings
## ================
.gitattributes text
.gitconfig     text
.gitignore     text

## ================
## Make files
## ================
*.Debug        text
*.Release      text
Makefile       text
makefile       text

# ------------------------------------------------------------------------------
#                                  Binary Files                                 
# ------------------------------------------------------------------------------
# Explicitly declare all files that are binary and shouldn't be modified by Git:

## =========================
## Polygen Compiled Grammars
## =========================
*.grm.o        text


## ================
## Windows Binaries
## ================
*.exe        binary

## ================
## OCaml Obj Files
## ================
*.a          binary
*.cma        binary
*.cmi        binary
*.cmo        binary
*.cmx        binary
*.cmxa       binary
*.cmxs       binary
*.o          binary
