S ::= Init ^"M:4/4\nL:1/8\n" Song " | " Song " | " Song " | " Song " | " Song " | " Song " | " Song "\n\n";

Song ::= Song0 | (" |: " Song0 " :| ") | Song;
Song0 ::= Takt  | (Takt " | " Song) | (Takt " | " Song) | (Takt " | " Song) | (Takt " | " Song) | (Takt " | " Song) | (Takt " | " Song);
Takt ::= Note | (Note Takt) | (Note Takt) | (Note Takt) | (Note Takt) | (Note Takt) | (Note Takt) | (Note Takt) | (Note Takt);

